certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
idna==2.8
libusb1==1.7.1
ndeflib==0.3.3
nfcpy==1.0.3
phx-class-registry==3.0.5
phx-filters==2.0.2
pycparser==2.19
pyDes==2.0.1
pyOpenSSL==19.1.0
PyOTA==2.1.0
PyOTA-CCurl==1.0.9
pyserial==3.4
pysha3==1.0.2
python-dateutil==2.8.1
pytz==2019.3
regex==2019.11.1
requests==2.22.0
six==1.13.0
urllib3==1.25.7
